@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #F9F8F4;
}
.main-nav{
  margin: 2rem 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

.logo-png{
  width: 110px;
  height: 50px;
  left: -3rem;
  top: -0.5rem;
 
}

.navigation{
  display: inline;
  font-size: 13.33333px;
  font-weight: 400;
}

.navigation div{
  display: inline;
  margin: 1rem;
}

li {
  list-style: none;
  display: inline;
}

.navigation a{
  margin: 2rem;
  text-decoration: none;
  background:none;
  color: black;
  
}
.caret-animation{
  display:inline;
  margin-left:-0.4rem;
}
.caret-animation::before{
transform:rotate(-180deg);
transition: all 600ms ease-out;

}

.caret-animation svg:hover{
 transition: all 600ms ease-out;
 transform: rotate(180deg);
 
}

.main-nav button{
  background-color: #2D2E52;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border-color: transparent;
  margin: 2rem 3rem;
}

/* li{
  display: inline;
} */
.parent{
  /* text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-item:hover{
 text-decoration: underline;
}

 .hamburger {
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* Mobile and Tablet design view */
@media only screen and (max-width: 769px) {
  /* */
  .main-nav .navigation {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.main-nav .navigation.active {
    left: 0;
}

.main-nav .nav-item {
    margin: 2.5rem 0;
}

.main-nav .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 10px;
}

/* Hamburger animation for active state */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}
