@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #FCF6E4;
}
.main-nav{
  margin: 2rem 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

.logo-png{
  width: 110px;
  height: 50px;
  left: -3rem;
  top: -0.5rem;
 
}

.navigation{
  display: inline;
  font-size: 13.33333px;
  font-weight: 400;
}

.navigation div{
  display: inline;
  margin: 1rem;
}

.navigation a{
  margin: 2rem;
  text-decoration: none;
  background:none;
  color: black;
  
}
.caret-animation{
  display:inline;
  margin-left:-0.4rem;
}
.caret-animation::before{
transform:rotate(-180deg);
transition: all 600ms ease-out;

}

.caret-animation svg:hover{
 transition: all 600ms ease-out;
 transform: rotate(180deg);
 
}


 

.main-nav button{
  background-color: #2D2E52;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border-color: transparent;
  margin: 2rem 3rem;
}

li{
  display: inline;
}
.parent{
  /* text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Projects:hover{
 text-decoration: underline;
}
.Company:hover{
  text-decoration: underline;
 }
 .News:hover{
  text-decoration: underline;
 }


/* Mobile and Tablet design view */
@media only screen and (max-width: 760px) {
  .hero-content {
    align-items:center;
    justify-items: auto;
    display: block;
    padding: 10%;
  }
  .hero-desc {
    display: block;
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }
 
  h3 {
    text-align: left;
    font-size: 40px;
    padding: 10px;
  }
  p {
    text-align: left;
    font-size: 20px;
    padding: 10px;
  }

}

.hero-page {  
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 16px;
  }
  
  .hero-content {
    align-items:center;
    justify-items: auto;
    display: flex;
    padding: 5%;
  }
  .hero-desc {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
  }
  .hero-desc button {
    background: #000000; 
    border-radius: 29px 29px 29px 29px;
    text-align: left;
    color: #FFFFFF;
    font-size: 18px;
    padding: 16px;
    border: none;
    width: 300px ;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
  }

  .hero-desc h3 {
    text-align: left;
    font-size: 82px;
    font-family: 'DM Sans', sans-serif;
  }
  .hero-desc p {
    text-align: left;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
  }
  .bg-shapes {
    display: flex;
    gap: 1;
  }
  .bg-img1 {
    top: 737px;
    left: 291px;
    width: 462px;
    height: 461px;
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 600px;
    }
  .bg-img2 {
    top: 504px;
    left: 830px;
    width: 462px;
    height: 694px;
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 600px;
    opacity: 1;
    display: flex;
  }
  .bg-img3 {
    top: 276px;
    left: 1369px;
    width: 462px;
    height: 922px;
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 600px;
    opacity: 1;
    display: flex;
  }
  /* Mobile and Tablet design view */
  @media only screen and (max-width: 760px) {
    .hero-content {
      align-items:center;
      justify-items: auto;
      display: block;
      padding: 10%;
    }
    .hero-desc {
      display: block;
      flex-direction: column;
      align-items: left;
      gap: 20px;
    }

    h3 {
      text-align: left;
      font-size: 40px;
      padding: 10px;
    }
    p {
      text-align: left;
      font-size: 20px;
      padding: 10px;
    }
  
  }