@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #FCF6E4;
}
.main-nav{
  margin: 2rem 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

.logo-png{
  width: 110px;
  height: 50px;
  left: -3rem;
  top: -0.5rem;
 
}

.navigation{
  display: inline;
  font-size: 13.33333px;
  font-weight: 400;
}

.navigation div{
  display: inline;
  margin: 1rem;
}

.navigation a{
  margin: 2rem;
  text-decoration: none;
  background:none;
  color: black;
  
}
.caret-animation{
  display:inline;
  margin-left:-0.4rem;
}
.caret-animation::before{
transform:rotate(-180deg);
transition: all 600ms ease-out;

}

.caret-animation svg:hover{
 transition: all 600ms ease-out;
 transform: rotate(180deg);
 
}


 

.main-nav button{
  background-color: #2D2E52;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border-color: transparent;
  margin: 2rem 3rem;
}

li{
  display: inline;
}
.parent{
  /* text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Projects:hover{
 text-decoration: underline;
}
.Company:hover{
  text-decoration: underline;
 }
 .News:hover{
  text-decoration: underline;
 }


/* Mobile and Tablet design view */
@media only screen and (max-width: 760px) {
  .hero-content {
    align-items:center;
    justify-items: auto;
    display: block;
    padding: 10%;
  }
  .hero-desc {
    display: block;
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }
 
  h3 {
    text-align: left;
    font-size: 40px;
    padding: 10px;
  }
  p {
    text-align: left;
    font-size: 20px;
    padding: 10px;
  }

}

/* .hero-page {  
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 16px;
  } */
/*   
  .hero-content {
    align-items:center;
    justify-items: auto;
    display: flex;
     padding: 5%; 
  }*/
  .hero-desc {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    /* margin-bottom: 10px; */
    height: 50%;
    max-width: 50%;
    margin-left: 9.5rem;
  }


  .top-sec {
    margin-top: 6rem;
    margin-bottom: 15rem;
    white-space: nowrap;
    font-size: 43px;
    font-weight: 500;
    /* margin-top: 4rem;
    margin-left: 9.5rem; */
    margin-bottom: 1.4rem;
  }
  .bottom-sec{
    font-size: 18px;
    text-align: block;
    font-weight: 400;
    /* width: 55%; */
    /* margin-top:-2rem;
    margin-left: 9.5rem; */
    margin-bottom:1.4rem ;

  }

  .slider-button{
    background-color: black;
    /* color: #fff; */
    padding: 0.5rem 0.5rem;
    border: 2px solid #000;
    border-radius: 4rem;
    min-width: 200px;
    text-align: center;
    width: 199.992px;
    height:39.9844px;
    font-size: 13.3333px;
    
    position: relative;
    margin-left: 9.5rem;
    top:0px;
    bottom:0px;
    right:0px;
    left: 0px;
    display: flex;
  }

  .text{
    margin-left:0.6rem;
    font-size: 13.333px;
    color: #fff;
    background-color: #000;
  }
  
  .arrow-icon{
    color:#fff;
    background-color: #000;
    margin-left: 0.9rem;
  }

  .hero-desc h3 {
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
  }
  .hero-desc p {
    text-align: left;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
  }
  .bg-shapes {
    display: flex;
    gap: 60px;
    margin-left: 9.5rem;
    padding-left: 15%;
    position: relative;
  }
  /* Spheres styling */
  .bg-img1 {
    top: 737px;
    left: 291px;
    width: 462px;
    height: 461px;
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 600px;
    align-self: flex-end;
    }
  .bg-img2 {
    top: 504px;
    left: 830px;
    width: 462px;
    height: 694px;
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 600px;
    align-self: flex-end
  }
  .bg-img3 {
    top: 276px;
    left: 1469px;
    width: 462px;
    height: 922px;
    background: transparent linear-gradient(180deg, #F2CF73 0%, #F2CF7300 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 600px;
    align-self: flex-end;
  }
  /* Mobile and Tablet design view */
  @media only screen and (max-width: 760px) {
    .hero-content {
      align-items:center;
      justify-items: auto;
      display: block;
      padding: 10%;
    }
    .hero-desc {
      display: block;
      flex-direction: column;
      align-items: left;
      gap: 10px;
      overflow: hidden;
    }

    h3 {
      text-align: left;
      font-size: 40px;
      padding: 10px;
    }
    p {
      text-align: left;
      font-size: 20px;
      padding: 10px;
    }
  
  }